version: '3.8'

x-airflow-common:
  &airflow-common
  build: . # Utilise notre Dockerfile local
  env_file:
    - .env
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor # Plus simple pour un projet mono-machine
    AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres-airflow/airflow
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false' # On ne veut pas les exemples par défaut
    # Connexion au Data Warehouse pour nos scripts
    DW_POSTGRES_USER: ${POSTGRES_USER}
    DW_POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    DW_POSTGRES_DB: ${POSTGRES_DB}
    DW_POSTGRES_HOST: ${POSTGRES_HOST}
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    - ./scripts:/opt/airflow/scripts
    - ./dbt_project:/opt/airflow/dbt_project
    - ./profiles.yml:/home/airflow/.dbt/profiles.yml
  depends_on:
    &airflow-common-depends-on
    postgres-airflow:
      condition: service_healthy

services:
  # --- 1. Database pour les métadonnées Airflow ---
  postgres-airflow:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5
    restart: always

  # --- 2. Ton Data Warehouse (Là où on stocke la donnée Vélib/Météo) ---
  postgres_dw:
    image: postgres:13
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432" # Accessible depuis ton PC sur localhost:5432
    restart: always

  # --- 3. Airflow Init (S'exécute une fois pour créer les tables Airflow) ---
  airflow-init:
    <<: *airflow-common
    command: version
    environment:
      <<: *airflow-common-env
      _AIRFLOW_DB_UPGRADE: 'true'
      _AIRFLOW_WWW_USER_CREATE: 'true'
      _AIRFLOW_WWW_USER_USERNAME: airflow
      _AIRFLOW_WWW_USER_PASSWORD: airflow
    depends_on:
      - postgres-airflow

  # --- 4. Airflow Webserver (L'interface UI) ---
  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 10s
      timeout: 10s
      retries: 5
    restart: always
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  # --- 5. Airflow Scheduler (Le coeur qui lance les tâches) ---
  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    restart: always
    depends_on:
      airflow-init:
        condition: service_completed_successfully